h2 {
  color:aqua;
  font-weight: bold;
}
p{
  font-family: "Times New Roman";
  font-size: 16px;
}
table, th, td {
  border: 1px solid black;
  text-align: left;
}
th,td{
  padding: 10px;
}
.a{
  float: left;
  margin-top: 6px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.b {
  background-color: lightgray;
  padding: 20px;
  border-style: solid;
  margin-bottom: 10px;
  width: 50%;
  word-break: break-all;
  text-align: justify;
  text-justify: inter-word;
}
