<p>PRAVEEN</p>
<p>EMAIL:-pk3040895@gmail.com</p>
<h2>Objective</h2>
<p>To be involved in work where I can utilize skill and creativity involved with system that effectively contibute to growth of the organization</p>
<h2>Education Qualification</h2>
<table>
  <tr>
    <th>School/College Name</th>
    <th>Board/University Name</th>
    <th>Percentage</th>
  </tr>
  <tr>
    <td>St.Anne's</td>
    <td>State board</td>
    <td>92</td>
  </tr>
  <tr>
    <td>St.Anne's</td>
    <td>State board</td>
    <td>79.08</td>
  </tr>
  <tr>
    <td>MNM Jain College</td>
    <td>Anna University</td>
    <td>70.6</td>
  </tr>
</table>
<h2>Language Known</h2>
<ol type="1">
  <li>C</li>
  <li>C++</li>
  <li>JAVA</li>
</ol>
